body {
    background-color: #cdcdcd;
}

h1 {
    color: #363636;
    text-align: center;
}

h2 {
    display: inline-block;
    width: 80%;
    padding-left: 10px;
}

.btn {
    margin-left: 5px;
}

.create-column {
    margin: 5px auto;
    display: block;
}

.column-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    margin: 5px;
    padding: 5px;
    height: 100%;
    min-height: 200px;
    width: 320px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
}

.column-card-list {
    min-height: 50px;
    padding: 0;
}

.column li {
    list-style-type: none;
    text-align: left;
    background-color: #C5D83E;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 5px;
    border-radius: 5px;
}

.column li p {
    padding: 5px;
}